.fa-solid.fa-heart {
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  background-clip: text; 
  -webkit-text-fill-color: transparent; 
  opacity: 0;
  transition: all 300ms;
}
input:checked + label .fa-solid.fa-heart {
  opacity: 1;
}

.loader {
  position: fixed;
  inset: 0;
  background-color: white;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeOut 0.5s ease-out 2s forwards;

  &__spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #ff79da;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
    margin-bottom: 35px;
  }

  &__text {
    font-family: 'Montserrat', sans-serif;
    color: #ff79da;
    font-size: 1.6rem;
    animation: fadeIn 1s ease-in-out;
    text-align: center; 
    padding: 0 10px;
  }
}

@media (max-width: 600px) {
  .loader {
    &__spinner {
      width: 70px;
      height: 70px;
      border-width: 6px;
      margin-bottom: 20px;
    }
    &__text {
      font-size: 1.2rem;
    }
  }
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}


@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.entrees {
  opacity: 0;
  animation: fadeInUp 0.6s forwards;
  animation-delay: 0s;
}

.plats {
  opacity: 0;
  animation: fadeInUp 0.6s forwards;
  animation-delay: 1s;
}

.desserts {
  opacity: 0;
  animation: fadeInUp 0.6s forwards;
  animation-delay: 2s;
}

