$font-shrikhand: "Shrikhand";
$font-roboto: "Roboto";

$bg-color-black: #353535;
$bg-color-grey: #f6f6f6;
$bg-color-grey-dark: #eaeaea;

$color-green: #99e2d0;
$color-text-green: #008766;
$color-purple: #9356dc;

$icon-color: #7e7e7e;
