.footer {
  @include flex(column, center, baseline, 16px);
  padding: 22px 25px;
  @media screen and (min-width: 900px) {
    @include flex(row-reverse, flex-start, center, 70px);
    padding: 55px 55px 30px;
  }
  &_logo {
    color: white;
  }
  &_links {
    @include flex(column, flex-start, baseline, 7px);
    @media screen and (min-width: 900px) {
      @include flex(row, flex-start, center, 16px);
    }
    & i {
      width: 20px;
    }
    & a {
      @include flex(row, flex-start, center, 10px);
    }
  }
}
